
@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout_noAds.cshtml";
}
<style>

    p {
        font-size: 18px;

    }
    .ContentND {
       text-align:left;
       margin:0px 100px;
    }
        .ContentND h2 {
            text-align: center;
            font-weight: 700;
            color: #ff4e00;
        }
</style>
<div class="ContentND">
    <h2>LỜI NÓI ĐẦU</h2>
    <p style="">Ngày nay, ngành Công Nghệ Thông Tin đã có những bước phát triển nhanh chóng về ứng dụng của nó trong mọi lĩnh vực, trong cuộc sống trên phạm vi toàn thế giới nói chung và Việt Nam nói riêng. Công Nghệ Thông Tin là một phần không thế thiếu trong cuộc sống văn minh, góp phần đẩy mạnh công cuộc công nghiệp hóa hiện đại hóa đất nước. Việc ứng dụng những thành quả của khoa học công nghệ vào trong đời sống, trong công tác là hết sức thiết yếu. Ứng dụng của Công Nghệ Thông Tin kết hợp với truyền thống được xem là một trong những yếu tố mang tính quyết định trong hoạt động của công ty, các tổ chức,... nó đóng vai trò quan trọng không thể thiếu. Công Nghệ Thông Tin và truyền thông góp phần làm thay đổi suy nghĩ, lối mòn tư duy của mỗi con người, nó giúp con người năng động hơn, kết nối nhanh hơn ở mọi lúc mọi nơi làm tăng mức độ hiệu quả, năng suất công việc.</p>
    <br />
    <p>Có xấp xỉ 300 triệu người trên thế giới đã truy cập vào mạng Internet và số lượng này không ngừng được tăng lên hàng ngày. Mạng Internet không đơn thuần chỉ là những máy tính mà nó còn là nơi mọi người có thể mua bán, trao đổi bất kỳ thứ gì từ chiếc bàn chải đánh răng, các tác phẩm nghệ thuật cho đến các bài học tiếng Anh. Việc tiếp cận được dù chỉ 1% nhóm khách hàng này cũng là 1 thành công của doanh nghiệp.</p>
    <br />
    <p><b style="font-size:18px">Xuất phát từ lý do trên,</b> cùng với sự hướng dẫn của thầy Nguyễn Huy Cường, chúng em thực hiện đề tài “Website rao tin mua bán tìm việc” để vận dụng những kiến thức đã được học vào thực tiễn, xây dựng một hệ thông rao tin mua bán tìm việc, nhằm giúp thuận tiện trong việc kinh doanh cũng như nhu cầu việc làm của mỗi người.</p>
    <hr />
    <h2>LỜI CẢM ƠN</h2>
    <p>Trong quá trình thực hiện đề tài nhóm đã gặp phải không ít khó khăn và trở ngại, tuy nhiên, với sự giúp đỡ của bạn bè, cùng với sự hướng dẫn tận tình, chỉ bảo cặn kẽ của giảng viên Nguyễn Huy Cường, cuối cùng chúng em cũng cố gắng hoàn thành đề tài này với tất cả sự cố gắng và nỗ lực. Chúng em xin được gửi lời cảm ơn tới những người bạn đã góp ý và giúp đỡ nhóm, và đặc biệt là cảm ơn thầy, tuy chúng em không có dịp gặp gỡ trực tiếp với thầy nhưng khi chúng em gặp khó khăn trong quá trình thực hiện đề tài thì thầy hướng dẫn và giúp chúng em rất nhiều..</p>
    <p>Do chưa có nhiều kinh nghiệm nghiên cứu, thực hành nên chúng em cũng không tránh khỏi những thiếu sót. Chúng em rất mong nhận được sự thông cảm và góp ý của thầy để đề tài của chúng em được hoàn thiện hơn.</p>
    <p>Chúng em xin chân thành cảm ơn!</p>
    <br />
    <p style="text-align:right;font-size:18px;">TP. HCM, Tháng 7 năm 2021</p>
    <p style="text-align:right;font-size:18px;"><b>Sinh viên thực hiện</b></p>
    <p style="text-align:right;font-size:18px;">Vũ Duy Linh</p>
    <p style="text-align:right;font-size:18px;">Phạm Trần Huy Bảo</p>
</div>



