
@{
    ViewBag.Title = "PhanHoi";
    Layout = "~/Views/Shared/_Layout_noAds.cshtml";
}
<style>
    h2{
        color: #ff4e00;
        font-weight: 700;
    }
</style>
<h2>PHẢN HỒI - GÓP Ý</h2>
<p style="font-size:20px;text-align:left;width:960px;">TRANG WEB RAO TIN sẽ nhận mọi phản hồi của người dùng và cải thiện một cách tốt nhất</p>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v12.0&appId=421310846306215&autoLogAppEvents=1" nonce="tRuoWQ00"></script>
<div class="fb-page" data-href="https://www.facebook.com/Web-Rao-Tin-110419288142673" data-tabs="timeline" data-width="1280" data-height="960" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Web-Rao-Tin-110419288142673" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Web-Rao-Tin-110419288142673">Web Rao Tin</a></blockquote></div>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v12.0&appId=421310846306215&autoLogAppEvents=1" nonce="7LCpv7Az"></script>
<div class="fb-like" data-href="https://www.facebook.com/Web-Rao-Tin-110419288142673" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v12.0&appId=421310846306215&autoLogAppEvents=1" nonce="mnmdrc9b"></script>
<div class="fb-comments" data-href="https://localhost:44380/" data-width="" data-numposts="50" style="width:100%"></div>
