USE [WebRaoTin]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 19/11/2021 4:57:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 19/11/2021 4:57:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 19/11/2021 4:57:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 19/11/2021 4:57:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 19/11/2021 4:57:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 19/11/2021 4:57:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[Role] [nvarchar](max) NULL,
	[FullName] [nvarchar](max) NULL,
	[HomeAdress] [nvarchar](max) NULL,
	[Gender] [nvarchar](max) NULL,
	[DateBorn] [datetime] NULL,
	[ConfirmPublicInfo] [nvarchar](max) NULL,
	[CMND] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BatDongSans]    Script Date: 19/11/2021 4:57:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BatDongSans](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Video] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[TinTucId] [int] NOT NULL,
	[LoaiBatDongSanId] [int] NOT NULL,
	[Location] [nvarchar](max) NULL,
	[Area] [int] NOT NULL,
 CONSTRAINT [PK_dbo.BatDongSans] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BinhLuans]    Script Date: 19/11/2021 4:57:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinhLuans](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CustomerID] [nvarchar](128) NOT NULL,
	[PublishDay] [datetime] NOT NULL,
	[TinTucId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.BinhLuans] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVus]    Script Date: 19/11/2021 4:57:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[TinTucId] [int] NOT NULL,
	[LoaiDichVuId] [int] NOT NULL,
	[Location] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.DichVus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiBatDongSans]    Script Date: 19/11/2021 4:57:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiBatDongSans](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.LoaiBatDongSans] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiDichVus]    Script Date: 19/11/2021 4:57:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiDichVus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.LoaiDichVus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSanPhams]    Script Date: 19/11/2021 4:57:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPhams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.LoaiSanPhams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiViecLams]    Script Date: 19/11/2021 4:57:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiViecLams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.LoaiViecLams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuXetUngTuyens]    Script Date: 19/11/2021 4:57:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuXetUngTuyens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PublishDay] [datetime] NOT NULL,
	[Status] [nvarchar](max) NULL,
	[CustomerID] [nvarchar](128) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ViecLamId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.PhieuXetUngTuyens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhams]    Script Date: 19/11/2021 4:57:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[TinTucId] [int] NOT NULL,
	[LoaiSanPhamId] [int] NOT NULL,
	[Location] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.SanPhams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinTucs]    Script Date: 19/11/2021 4:57:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinTucs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[PublishDay] [datetime] NOT NULL,
	[EndDay] [datetime] NOT NULL,
	[Contract] [nvarchar](max) NULL,
	[ContractPhoneNumber] [nvarchar](max) NOT NULL,
	[CustomerID] [nvarchar](128) NOT NULL,
	[Status] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.TinTucs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ViecLams]    Script Date: 19/11/2021 4:57:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ViecLams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Require] [nvarchar](max) NULL,
	[Salary] [decimal](18, 2) NOT NULL,
	[Location] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[TinTucId] [int] NOT NULL,
	[Benefit] [nvarchar](max) NULL,
	[LoaiViecLamId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ViecLams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BatDongSans] ON 

INSERT [dbo].[BatDongSans] ([Id], [Name], [Price], [Image], [Video], [Description], [TinTucId], [LoaiBatDongSanId], [Location], [Area]) VALUES (1, NULL, CAST(800.00 AS Decimal(18, 2)), N'/Content/TinTuc/TinTucID1/Image/710ee279990740c6b63969382727a158.jpg/Content/TinTuc/TinTucID1/Image/20210928010256-642f_wm.jpg', N'/Content/TinTuc/TinTucID1/Trailer/Pokemon Essentials v19.1 2021-09-21 19-37-02.mp4', N'aaa', 1, 1, N'Phường Ghềnh Ráng, TP - Quy Nhơn, Bình Định', 1300)
INSERT [dbo].[BatDongSans] ([Id], [Name], [Price], [Image], [Video], [Description], [TinTucId], [LoaiBatDongSanId], [Location], [Area]) VALUES (2, NULL, CAST(800000000.00 AS Decimal(18, 2)), N'/Content/TinTuc/TinTucID6/Image/con_meo.jpg', N'/Content/TinTuc/TinTucID6/Trailer/Quản lý cá nhân - Google Chrome 2021-09-27 20-26-49.mp4', NULL, 11, 2, N'dsa', 32)
SET IDENTITY_INSERT [dbo].[BatDongSans] OFF
GO
SET IDENTITY_INSERT [dbo].[BinhLuans] ON 

INSERT [dbo].[BinhLuans] ([Id], [Description], [CustomerID], [PublishDay], [TinTucId]) VALUES (3, N'asdasdasd', N'02caa0bb-c2c3-4ab6-a05d-e7bb0df07441', CAST(N'2021-10-12T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[BinhLuans] ([Id], [Description], [CustomerID], [PublishDay], [TinTucId]) VALUES (4, N'qweadsad', N'1bd90534-0067-437f-a616-124cd5deb702', CAST(N'2021-10-12T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[BinhLuans] ([Id], [Description], [CustomerID], [PublishDay], [TinTucId]) VALUES (8, N'zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz', N'586bd0ab-6111-4797-8c10-24ec521c89b5', CAST(N'2021-10-31T03:33:26.363' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[BinhLuans] OFF
GO
SET IDENTITY_INSERT [dbo].[DichVus] ON 

INSERT [dbo].[DichVus] ([Id], [Name], [Price], [Image], [Description], [TinTucId], [LoaiDichVuId], [Location]) VALUES (2, NULL, CAST(300000.00 AS Decimal(18, 2)), N'/Content/TinTuc/TinTucID21/Image/710ee279990740c6b63969382727a158.jpg/Content/TinTuc/TinTucID21/Image/20210928010256-642f_wm.jpg/Content/TinTuc/TinTucID21/Image/20210928010332-96f5_wm.jpg/Content/TinTuc/TinTucID21/Image/637413930251122110_HASP-Asus-Vivobook-UX425(42).jpg', N'Sửa điện', 21, 2, N'Trường Cau Kieu')
INSERT [dbo].[DichVus] ([Id], [Name], [Price], [Image], [Description], [TinTucId], [LoaiDichVuId], [Location]) VALUES (3, NULL, CAST(300000.00 AS Decimal(18, 2)), N'/Content/TinTuc/TinTucID22/Image/7960b0f8a2774841bcfaed7f9460105c.jpg/Content/TinTuc/TinTucID22/Image/20210928010256-642f_wm.jpg/Content/TinTuc/TinTucID22/Image/20210928010332-96f5_wm.jpg/Content/TinTuc/TinTucID22/Image/637413930251122110_HASP-Asus-Vivobook-UX425(42).jpg', N'Cho thuê xe ô tô', 22, 13, N'102 Trần Duy Hưng Quận 1 Tp.HCM')
SET IDENTITY_INSERT [dbo].[DichVus] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiBatDongSans] ON 

INSERT [dbo].[LoaiBatDongSans] ([Id], [Name]) VALUES (1, N'Bán nhà')
INSERT [dbo].[LoaiBatDongSans] ([Id], [Name]) VALUES (2, N'Cho thuê nhà')
INSERT [dbo].[LoaiBatDongSans] ([Id], [Name]) VALUES (3, N'Bán đất')
SET IDENTITY_INSERT [dbo].[LoaiBatDongSans] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiDichVus] ON 

INSERT [dbo].[LoaiDichVus] ([Id], [Name]) VALUES (1, N'Xây dựng, nội thất, phong thủy')
INSERT [dbo].[LoaiDichVus] ([Id], [Name]) VALUES (2, N'Sửa điện, Điện tử, điện lạnh')
INSERT [dbo].[LoaiDichVus] ([Id], [Name]) VALUES (3, N'Nước, vệ sinh, cầu cống')
SET IDENTITY_INSERT [dbo].[LoaiDichVus] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiSanPhams] ON 

INSERT [dbo].[LoaiSanPhams] ([Id], [Name]) VALUES (1, N'Ô tô')
INSERT [dbo].[LoaiSanPhams] ([Id], [Name]) VALUES (2, N'Xe máy')
INSERT [dbo].[LoaiSanPhams] ([Id], [Name]) VALUES (3, N'Máy tính')
SET IDENTITY_INSERT [dbo].[LoaiSanPhams] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiViecLams] ON 

INSERT [dbo].[LoaiViecLams] ([Id], [Name]) VALUES (1, N'Bảo vệ')
INSERT [dbo].[LoaiViecLams] ([Id], [Name]) VALUES (2, N'Bán hàng')
INSERT [dbo].[LoaiViecLams] ([Id], [Name]) VALUES (3, N'Lập trình viên')
SET IDENTITY_INSERT [dbo].[LoaiViecLams] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuXetUngTuyens] ON 

INSERT [dbo].[PhieuXetUngTuyens] ([Id], [PublishDay], [Status], [CustomerID], [Description], [ViecLamId]) VALUES (10, CAST(N'2021-11-19T04:35:07.530' AS DateTime), N'Đã gửi', N'a6f66a8d-453c-4937-9979-a84ea6972cf3', N'CV - Toan Nguyen.doc', 1)
INSERT [dbo].[PhieuXetUngTuyens] ([Id], [PublishDay], [Status], [CustomerID], [Description], [ViecLamId]) VALUES (12, CAST(N'2021-11-19T04:53:13.350' AS DateTime), N'Đã gửi', N'1bd90534-0067-437f-a616-124cd5deb702', N'CV - Toan Nguyen.doc', 1)
INSERT [dbo].[PhieuXetUngTuyens] ([Id], [PublishDay], [Status], [CustomerID], [Description], [ViecLamId]) VALUES (13, CAST(N'2021-11-19T04:53:36.473' AS DateTime), N'Đã gửi', N'02caa0bb-c2c3-4ab6-a05d-e7bb0df07441', N'CV - Toan Nguyen (1).doc', 1)
SET IDENTITY_INSERT [dbo].[PhieuXetUngTuyens] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPhams] ON 

SET IDENTITY_INSERT [dbo].[SanPhams] OFF
GO
SET IDENTITY_INSERT [dbo].[TinTucs] ON 

INSERT [dbo].[TinTucs] ([Id], [Title], [PublishDay], [EndDay], [Contract], [ContractPhoneNumber], [CustomerID], [Status]) VALUES (1, N'Caalla Apartment tọa lạc tại trung tâm thành phố Quy Nhơn, giá tốt', CAST(N'2021-10-02T18:27:50.000' AS DateTime), CAST(N'2021-10-09T00:00:00.000' AS DateTime), N'Bảo', N'9993336661', N'586bd0ab-6111-4797-8c10-24ec521c89b5', N'Công khai')
INSERT [dbo].[TinTucs] ([Id], [Title], [PublishDay], [EndDay], [Contract], [ContractPhoneNumber], [CustomerID], [Status]) VALUES (4, N'tieu deu ngù gjdfhkj fjhsd fdsjshjfh ', CAST(N'2021-10-02T21:05:51.000' AS DateTime), CAST(N'2021-10-07T00:00:00.000' AS DateTime), N'tieu deu ngù gjdfhkj fjhsd fdsjshjfh ', N'0857853609', N'586bd0ab-6111-4797-8c10-24ec521c89b5', N'Công khai')
INSERT [dbo].[TinTucs] ([Id], [Title], [PublishDay], [EndDay], [Contract], [ContractPhoneNumber], [CustomerID], [Status]) VALUES (5, N'tieu deu ngù gjdfhkj fjhsd fdsjshjfh ', CAST(N'2021-10-02T21:06:40.553' AS DateTime), CAST(N'2021-10-19T00:00:00.000' AS DateTime), N'tieu deu ngù gjdfhkj fjhsd fdsjshjfh ', N'0857853609', N'586bd0ab-6111-4797-8c10-24ec521c89b5', N'Công khai')
SET IDENTITY_INSERT [dbo].[TinTucs] OFF
GO
SET IDENTITY_INSERT [dbo].[ViecLams] ON 

INSERT [dbo].[ViecLams] ([Id], [Name], [Description], [Require], [Salary], [Location], [Image], [TinTucId], [Benefit], [LoaiViecLamId]) VALUES (1, NULL, N'Bán hàng', N'Tuổi >16', CAST(3000000.00 AS Decimal(18, 2)), N'Trường cổ Loa', N'/Content/TinTuc/TinTucID19/Image/812qdKRaevL._SS500_.jpg/Content/TinTuc/TinTucID19/Image/FINAL-FANTASY-XV-WINDOWS-EDITION-Cover-1.jpg/Content/TinTuc/TinTucID19/Image/trailsintoreverie.jpg', 19, N'Không', 2)
INSERT [dbo].[ViecLams] ([Id], [Name], [Description], [Require], [Salary], [Location], [Image], [TinTucId], [Benefit], [LoaiViecLamId]) VALUES (2, NULL, N'Bán hàng Q1
- Bán trà xanh
- Bán trà sữa
- Bán trà đào', N'Tuổi >16', CAST(3000000.00 AS Decimal(18, 2)), N'CGV Gò Vấp', N'/Content/TinTuc/TinTucID20/Image/710ee279990740c6b63969382727a158.jpg/Content/TinTuc/TinTucID20/Image/20210928010256-642f_wm.jpg/Content/TinTuc/TinTucID20/Image/20210928010332-96f5_wm.jpg', 20, NULL, 2)
SET IDENTITY_INSERT [dbo].[ViecLams] OFF
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [DateBorn]
GO
ALTER TABLE [dbo].[BatDongSans] ADD  DEFAULT ((0)) FOR [LoaiBatDongSanId]
GO
ALTER TABLE [dbo].[BatDongSans] ADD  DEFAULT ((0)) FOR [Area]
GO
ALTER TABLE [dbo].[BinhLuans] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [PublishDay]
GO
ALTER TABLE [dbo].[BinhLuans] ADD  DEFAULT ((0)) FOR [TinTucId]
GO
ALTER TABLE [dbo].[DichVus] ADD  DEFAULT ((0)) FOR [LoaiDichVuId]
GO
ALTER TABLE [dbo].[PhieuXetUngTuyens] ADD  DEFAULT ((0)) FOR [ViecLamId]
GO
ALTER TABLE [dbo].[SanPhams] ADD  DEFAULT ((0)) FOR [LoaiSanPhamId]
GO
ALTER TABLE [dbo].[ViecLams] ADD  DEFAULT ((0)) FOR [LoaiViecLamId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[BatDongSans]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BatDongSans_dbo.LoaiBatDongSans_LoaiBatDongSanId] FOREIGN KEY([LoaiBatDongSanId])
REFERENCES [dbo].[LoaiBatDongSans] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BatDongSans] CHECK CONSTRAINT [FK_dbo.BatDongSans_dbo.LoaiBatDongSans_LoaiBatDongSanId]
GO
ALTER TABLE [dbo].[BatDongSans]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BatDongSans_dbo.TinTucs_TinTucId] FOREIGN KEY([TinTucId])
REFERENCES [dbo].[TinTucs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BatDongSans] CHECK CONSTRAINT [FK_dbo.BatDongSans_dbo.TinTucs_TinTucId]
GO
ALTER TABLE [dbo].[BinhLuans]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BinhLuans_dbo.AspNetUsers_CustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[BinhLuans] CHECK CONSTRAINT [FK_dbo.BinhLuans_dbo.AspNetUsers_CustomerID]
GO
ALTER TABLE [dbo].[BinhLuans]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BinhLuans_dbo.TinTucs_TinTucId] FOREIGN KEY([TinTucId])
REFERENCES [dbo].[TinTucs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BinhLuans] CHECK CONSTRAINT [FK_dbo.BinhLuans_dbo.TinTucs_TinTucId]
GO
ALTER TABLE [dbo].[DichVus]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DichVus_dbo.LoaiDichVus_LoaiDichVuId] FOREIGN KEY([LoaiDichVuId])
REFERENCES [dbo].[LoaiDichVus] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DichVus] CHECK CONSTRAINT [FK_dbo.DichVus_dbo.LoaiDichVus_LoaiDichVuId]
GO
ALTER TABLE [dbo].[DichVus]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DichVus_dbo.TinTucs_TinTucId] FOREIGN KEY([TinTucId])
REFERENCES [dbo].[TinTucs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DichVus] CHECK CONSTRAINT [FK_dbo.DichVus_dbo.TinTucs_TinTucId]
GO
ALTER TABLE [dbo].[PhieuXetUngTuyens]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PhieuXetUngTuyens_dbo.AspNetUsers_CustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[PhieuXetUngTuyens] CHECK CONSTRAINT [FK_dbo.PhieuXetUngTuyens_dbo.AspNetUsers_CustomerID]
GO
ALTER TABLE [dbo].[PhieuXetUngTuyens]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PhieuXetUngTuyens_dbo.ViecLams_ViecLamId] FOREIGN KEY([ViecLamId])
REFERENCES [dbo].[ViecLams] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhieuXetUngTuyens] CHECK CONSTRAINT [FK_dbo.PhieuXetUngTuyens_dbo.ViecLams_ViecLamId]
GO
ALTER TABLE [dbo].[SanPhams]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SanPhams_dbo.LoaiSanPhams_LoaiSanPhamId] FOREIGN KEY([LoaiSanPhamId])
REFERENCES [dbo].[LoaiSanPhams] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPhams] CHECK CONSTRAINT [FK_dbo.SanPhams_dbo.LoaiSanPhams_LoaiSanPhamId]
GO
ALTER TABLE [dbo].[SanPhams]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SanPhams_dbo.TinTucs_TinTucId] FOREIGN KEY([TinTucId])
REFERENCES [dbo].[TinTucs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPhams] CHECK CONSTRAINT [FK_dbo.SanPhams_dbo.TinTucs_TinTucId]
GO
ALTER TABLE [dbo].[TinTucs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TinTucs_dbo.AspNetUsers_CustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[TinTucs] CHECK CONSTRAINT [FK_dbo.TinTucs_dbo.AspNetUsers_CustomerID]
GO
ALTER TABLE [dbo].[ViecLams]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ViecLams_dbo.LoaiViecLams_LoaiViecLamId] FOREIGN KEY([LoaiViecLamId])
REFERENCES [dbo].[LoaiViecLams] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ViecLams] CHECK CONSTRAINT [FK_dbo.ViecLams_dbo.LoaiViecLams_LoaiViecLamId]
GO
ALTER TABLE [dbo].[ViecLams]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ViecLams_dbo.TinTucs_TinTucId] FOREIGN KEY([TinTucId])
REFERENCES [dbo].[TinTucs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ViecLams] CHECK CONSTRAINT [FK_dbo.ViecLams_dbo.TinTucs_TinTucId]
GO
