@{
    ViewBag.Title = "Home Page";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row" id="RowTT">
    <h3>TIN MỚI</h3>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="boxDiv">
            <div class="warp-layout_item">
                <p>Thuộc Danh mục nào: VD(DỊCH VỤ)</p>
                <div class="card" style="">

                    <img src="https://cdn.nguyenkimmall.com/images/detailed/555/may-anh-cho-nguoi-moi.jpg" alt="" style="width:230px; height:200px;" />

                    <div class="card-body">
                        <label class="card-text">Chính chủ bán cần bán máy ảnh gấp.Phường Hàng Bông máy ảnh gấp.Phường Hàng Bông</label>

                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <p class="col-md-6"><i class="fas fa-coins"></i> 1800000</p>
                        <p class="col-md-6"><i class="far fa-clock"></i> 6 giờ trước</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="boxDiv">
            <div class="warp-layout_item">
                <p>Thuộc Danh mục nào: VD(DỊCH VỤ)</p>
                <div class="card" style="">

                    <img src="https://cdn.nguyenkimmall.com/images/detailed/555/may-anh-cho-nguoi-moi.jpg" alt="" style="width:230px; height:200px;" />

                    <div class="card-body">
                        <label class="card-text">Chính chủ bán cần bán máy ảnh gấp, Phường Hàng Bông</label>

                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <p class="col-md-6"><i class="fas fa-coins"></i> 1800000</p>
                        <p class="col-md-6"><i class="far fa-clock"></i> 6 giờ trước</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="boxDiv">
            <div class="warp-layout_item">
                <p>Thuộc Danh mục nào: VD(DỊCH VỤ)</p>
                <div class="card" style="">

                    <img src="https://cdn.nguyenkimmall.com/images/detailed/555/may-anh-cho-nguoi-moi.jpg" alt="" style="width:230px; height:200px;" />

                    <div class="card-body">
                        <label class="card-text">Chính chủ bán cần bán máy ảnh gấp.114 Mặt Phố Hàng Bông, Phường Hàng Bông</label>

                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <p class="col-md-6"><i class="fas fa-coins"></i> 1800000</p>
                        <p class="col-md-6"><i class="far fa-clock"></i> 6 giờ trước</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="boxDiv">
            <div class="warp-layout_item">
                <p>Thuộc Danh mục nào: VD(DỊCH VỤ)</p>
                <div class="card" style="">

                    <img src="https://cdn.nguyenkimmall.com/images/detailed/555/may-anh-cho-nguoi-moi.jpg" alt="" style="width:230px; height:200px;" />

                    <div class="card-body">
                        <label class="card-text">Chính chủ bán cần bán máy ảnh gấp.114 Mặt Phố Hàng Bông, Phường Hàng Bông</label>

                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <p class="col-md-6"><i class="fas fa-coins"></i> 1800000</p>
                        <p class="col-md-6"><i class="far fa-clock"></i> 6 giờ trước</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="boxDiv">
            <div class="warp-layout_item">
                <p>Thuộc Danh mục nào: VD(DỊCH VỤ)</p>
                <div class="card" style="">

                    <img src="https://cdn.nguyenkimmall.com/images/detailed/555/may-anh-cho-nguoi-moi.jpg" alt="" style="width:230px; height:200px;" />

                    <div class="card-body">
                        <label class="card-text">Chính chủ bán cần bán máy ảnh gấp.114 Mặt Phố Hàng Bông, Phường Hàng Bông</label>

                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <p class="col-md-6"><i class="fas fa-coins"></i> 1800000</p>
                        <p class="col-md-6"><i class="far fa-clock"></i> 6 giờ trước</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="btn_more"> <h5 class="btn btn-primary">XEM THEM</h5></div>

<div class="row" id="RowTT">
    <h3>TIN NỔI BẬT</h3>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="boxDiv">
            <div class="warp-layout_item">
                <p>Thuộc Danh mục nào: VD(DỊCH VỤ)</p>
                <div class="card" style="">

                    <img src="https://cdn.nguyenkimmall.com/images/detailed/555/may-anh-cho-nguoi-moi.jpg" alt="" style="width:230px; height:200px;" />

                    <div class="card-body">
                        <label class="card-text">Chính chủ bán cần bán máy ảnh gấp.Phường Hàng Bông máy ảnh gấp.Phường Hàng Bông</label>

                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <p class="col-md-6"><i class="fas fa-coins"></i> 1800000</p>
                        <p class="col-md-6"><i class="far fa-clock"></i> 6 giờ trước</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="boxDiv">
            <div class="warp-layout_item">
                <p>Thuộc Danh mục nào: VD(DỊCH VỤ)</p>
                <div class="card" style="">

                    <img src="https://cdn.nguyenkimmall.com/images/detailed/555/may-anh-cho-nguoi-moi.jpg" alt="" style="width:230px; height:200px;" />

                    <div class="card-body">
                        <label class="card-text">Chính chủ bán cần bán máy ảnh gấp, Phường Hàng Bông</label>

                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <p class="col-md-6"><i class="fas fa-coins"></i> 1800000</p>
                        <p class="col-md-6"><i class="far fa-clock"></i> 6 giờ trước</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="boxDiv">
            <div class="warp-layout_item">
                <p>Thuộc Danh mục nào: VD(DỊCH VỤ)</p>
                <div class="card" style="">

                    <img src="https://cdn.nguyenkimmall.com/images/detailed/555/may-anh-cho-nguoi-moi.jpg" alt="" style="width:230px; height:200px;" />

                    <div class="card-body">
                        <label class="card-text">Chính chủ bán cần bán máy ảnh gấp.114 Mặt Phố Hàng Bông, Phường Hàng Bông</label>

                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <p class="col-md-6"><i class="fas fa-coins"></i> 1800000</p>
                        <p class="col-md-6"><i class="far fa-clock"></i> 6 giờ trước</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="boxDiv">
            <div class="warp-layout_item">
                <p>Thuộc Danh mục nào: VD(DỊCH VỤ)</p>
                <div class="card" style="">

                    <img src="https://cdn.nguyenkimmall.com/images/detailed/555/may-anh-cho-nguoi-moi.jpg" alt="" style="width:230px; height:200px;" />

                    <div class="card-body">
                        <label class="card-text">Chính chủ bán cần bán máy ảnh gấp.114 Mặt Phố Hàng Bông, Phường Hàng Bông</label>

                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <p class="col-md-6"><i class="fas fa-coins"></i> 1800000</p>
                        <p class="col-md-6"><i class="far fa-clock"></i> 6 giờ trước</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="boxDiv">
            <div class="warp-layout_item">
                <p>Thuộc Danh mục nào: VD(DỊCH VỤ)</p>
                <div class="card" style="">

                    <img src="https://cdn.nguyenkimmall.com/images/detailed/555/may-anh-cho-nguoi-moi.jpg" alt="" style="width:230px; height:200px;" />

                    <div class="card-body">
                        <label class="card-text">Chính chủ bán cần bán máy ảnh gấp.114 Mặt Phố Hàng Bông, Phường Hàng Bông</label>

                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <p class="col-md-6"><i class="fas fa-coins"></i> 1800000</p>
                        <p class="col-md-6"><i class="far fa-clock"></i> 6 giờ trước</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="btn_more"> <h5 class="btn btn-primary">XEM THEM</h5></div>

<div class="row" id="RowTT">
    <h3>CÁC TIN BẠN ĐÃ XEM</h3>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="boxDiv">
            <div class="warp-layout_item">
                <p>Thuộc Danh mục nào: VD(DỊCH VỤ)</p>
                <div class="card" style="">

                    <img src="https://cdn.nguyenkimmall.com/images/detailed/555/may-anh-cho-nguoi-moi.jpg" alt="" style="width:230px; height:200px;" />

                    <div class="card-body">
                        <label class="card-text">Chính chủ bán cần bán máy ảnh gấp.114 Mặt Phố Hàng Bông, Phường Hàng Bông</label>

                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <p class="col-md-6"><i class="fas fa-coins"></i> 1800000</p>
                        <p class="col-md-6"><i class="far fa-clock"></i> 6 giờ trước</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="boxDiv">
            <div class="warp-layout_item">
                <p>Thuộc Danh mục nào: VD(DỊCH VỤ)</p>
                <div class="card" style="">

                    <img src="https://cdn.nguyenkimmall.com/images/detailed/555/may-anh-cho-nguoi-moi.jpg" alt="" style="width:230px; height:200px;" />

                    <div class="card-body">
                        <label class="card-text">Chính chủ bán cần bán máy ảnh gấp.114 Mặt Phố Hàng Bông, Phường Hàng Bông</label>

                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <p class="col-md-6"><i class="fas fa-coins"></i> 1800000</p>
                        <p class="col-md-6"><i class="far fa-clock"></i> 6 giờ trước</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="boxDiv">
            <div class="warp-layout_item">
                <p>Thuộc Danh mục nào: VD(DỊCH VỤ)</p>
                <div class="card" style="">

                    <img src="https://cdn.nguyenkimmall.com/images/detailed/555/may-anh-cho-nguoi-moi.jpg" alt="" style="width:230px; height:200px;" />

                    <div class="card-body">
                        <label class="card-text">Chính chủ bán cần bán máy ảnh gấp.114 Mặt Phố Hàng Bông, Phường Hàng Bông</label>

                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <p class="col-md-6"><i class="fas fa-coins"></i> 1800000</p>
                        <p class="col-md-6"><i class="far fa-clock"></i> 6 giờ trước</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="boxDiv">
            <div class="warp-layout_item">
                <p>Thuộc Danh mục nào: VD(DỊCH VỤ)</p>
                <div class="card" style="">

                    <img src="https://cdn.nguyenkimmall.com/images/detailed/555/may-anh-cho-nguoi-moi.jpg" alt="" style="width:230px; height:200px;" />

                    <div class="card-body">
                        <label class="card-text">Chính chủ bán cần bán máy ảnh gấp.114 Mặt Phố Hàng Bông, Phường Hàng Bông</label>

                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <p class="col-md-6"><i class="fas fa-coins"></i> 1800000</p>
                        <p class="col-md-6"><i class="far fa-clock"></i> 6 giờ trước</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>