
@{
    ViewBag.Title = "SendConfirmEmail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>SendConfirmEmail</h2>

<div>
    <p>
        Please check your email to confirm the account.
    </p>
</div>
